<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="RandChar.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<connectionStrings>
    <add name="RandChar.Properties.Settings.Database1ConnectionString"
        connectionString="Data Source=|DataDirectory|\Database1.sdf"
        providerName="Microsoft.SqlServerCe.Client.3.5" />
</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <RandChar.Properties.Settings>
            <setting name="FormLocation" serializeAs="String">
                <value>200, 100</value>
            </setting>
            <setting name="GenerateAmount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="LowerAge" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="HigherAge" serializeAs="String">
                <value>100</value>
            </setting>
        </RandChar.Properties.Settings>
    </userSettings>
</configuration>
